@charset "utf-8";

body {
  padding: 0;
  margin: 0;
}

#ball {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #333;
  position: absolute;
}

.btn {
  width: 70px;
  height:30px;
  background: #473452;
  color: white;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
  cursor: pointer;
}
